/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.download {
    color: white;
    font-weight: 300;
    padding: 10px 20px;
    background-color: $ocean;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px $grey;
    outline: none;
    transition: 100ms;
    &:hover {
        background-color: $hot-red;
    }
    &:active {
        color: $white;
        position: relative;
        top: 1px;
    }
}