/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.firebase-offers {
    background-color: $dark-background;
    border-top: 4px solid $heading-tan;
    padding: 100px;
}