/* ============================================= */
/*              Images                           */
/* ============================================= */

.svg {
    width: 15px;
}

.social-svg {
    width: 20px;
}

.firebase-flex {
    @include flexy();
}

.firebase img {
    width: 100%;
    margin: auto;
    max-width: 500px;
    min-width: 400px;
    padding: 3rem 1.5rem;
}

