/* ============================================= */
/*              Images                           */
/* ============================================= */

.svg {
    width: 15px;
}

.social-svg {
    width: 20px;
}

.firebase img {
    width: 100%;
    margin: auto;
    max-width: 800px;
    padding: 3rem 1.5rem;
}

