/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.main-nav {
    text-align: center;
    margin-bottom: 4rem;
}

h1 {
    margin-bottom: .1rem;
    color: $text;
}

ul {
    margin-top: 1.5rem;
    li {
        font-weight: 300;
        padding-bottom: .5rem;
    }
}