/* ============================================= */
/*              Navigation                       */
/* ============================================= */

nav {
    text-align: center;
}

h1 {
    margin-bottom: .1rem;
    color: $text;
}

ul {
    margin-top: 1.5rem;
}

li {
    padding-bottom: .5rem;
}

a:visited {
    color: $text;
}