/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
	padding: 0;
	margin: auto;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: $text;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: $text;
	transition: 100ms;
}

.nav-items a:hover {
	font-size: 17px;
	transition: 100ms;
	opacity: .8;
	color: $ocean;
	text-shadow: 2px 2px 2px $border;
}